### Extra material/exercises on functions and lambda expressions

**Q1. Write a function which takes in a string and makes every even character of the string to be capitalized and every odd character to be a low cap. Don't worry about edge cases or about spaces.** 

        myfunc('hello') --> 'HeLlO'
        myfunc('stringexample') --> 'StRiNgExAmPlE'

In [1]:
def myfunc(string):
    res = []
    for index, char in enumerate(string):
        if (index % 2 == 0):
            res.append(char.upper())
        else:
            res.append(char.lower())
    return ''.join(res)

In [3]:
myfunc('hello')

'HeLlO'

In [6]:
myfunc('stringexample')

'StRiNgExAmPlE'

### Lambda expressions

Let's get more practice and understanding of what **lambda** expressions, or anonymous functions are. 


Let's write a function which returns the first letter of some text and call it **first_letter**

In [4]:
def first_letter(text):
    return text[0]

In [5]:
first_letter('Sally')

'S'

We can re-write that function in a lambda expression where the syntax is keyword **lambda** parameter(s) : something we return. The below lambda expression then takes as an argument some text, or it can be called anything else (often people use *x* or *a, b*, etc. We can assign it to a variable called **exp** which is in fact not a variable but a function and we pass 'Sally' to the expression, i.e. pass it to the function. The result is the same as the traditional function with the **def** keyword argument.

In [12]:
exp = lambda text: text[0]
print(type(exp))
exp('Sally')

<class 'function'>

'S'

**Lambda** expression really shine when they are passed as arguments to other functions, such as **map(), reduce() or filter()**. 
Here is another example (which we also solved in class).

**Q2. Use map() to return the first letters of the list of names.**

In [8]:
names = ['Frank', 'Sally', 'Boris',  'Jeroen']

One splution is to pass the *first_letter* function which we wrote above.

In [9]:
list(map(first_letter, names))

['F', 'S', 'B', 'J']

The same, but with a **lambda** expression is given below. Note that we only replace the function with the anonumoys function.

In [10]:
list(map(lambda x: x[0], names))

['F', 'S', 'B', 'J']

**Q3. Given the list of names above, filter out all that have more than 5 characters. In other words, if the name is longer than 5 characters, remove it from the list. There are some easier ways to solve this, but do use the filter() function here.**

In [17]:
list(filter(lambda x: len(x) <= 5 , names))

['Frank', 'Sally', 'Boris']

Note that with **filter()** as with **map()**, we need to create a list out of them, otherwise you get only the location in the memory occupied by the function. Here is an example without using **list()**.

In [18]:
filter(lambda x: len(x) <= 5 , names)

**Q3. Finally, let's apply reduce(). Use reduce so that you add all the numbers in a list. Here is an example below. Note you need to import reduce from functools. You can also use sum() to solve this but do practice reduce().**


        myfunc([1, 2, 3]) --> 6
        myfunc([3, 4]) --> 7

In [36]:
from functools import reduce

lst = [1, 2, 3]

reduce(lambda a, b: a+b, lst)

6

In [37]:
lst = [3, 4]

reduce(lambda a, b: a+b, lst)

7